:root{
    --rightSize: 33rem;
    --padding: 5%;
}
@font-face {
  font-family: my-cool-font;
  src: url(./fonts/norse/Norsebold.otf);
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.companyName {
  font-family: my-cool-font, sans-serif;
  font-size: 100px;
  color: white;
}

.credits {
    color: white;
    font-family: sans-serif;
}

.details:link {
    color: white;
}

.details:visited {
    color: white;
}

.container{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}
.left{
   width: 35vw;
   background-image: url(./images/background.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   flex-direction: column;
}

.right{
    width: 65vw;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}

.company{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%s;
    background-color: rgba(0,0,0,0.3);
    margin-top: 12em;
}

.logo{
    height: 100%;
    width: auto;
}

.credits {
    text-align: center;
    margin-top: auto;
}

.top {
    height: 29vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-left: var(--padding);
    margin-bottom: var(--padding);
}

.mid {
    height: 30vh;
    background-color: white;
    padding-left: var(--padding);
    box-shadow: 2px 1px 0px 1px rgba(0, 0, 0, 0.2);
}

.form-main-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
}

.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label{
    font-size: 0.75em;
    font-weight: bold;
    color: darkslategray;
}

input {
    width: 275px;
    height: 30px;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
}

.bot {
    height: 33vh;
}

button {
    margin-left: var(--padding);
    margin-top: 40px;
    width: 250px;
    height: 50px;
    border-radius: 8px;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    color: white;
    background-color: #596D48;
    border: none;
}

.haveAccount {
    margin-left: var(--padding);
}

.logIn {
    text-decoration: none;
    color: #596D48;
    font-weight: bold;
}

input:focus {
    border: blue;
    box-shadow: 0px 0px 1px 2px #888888;
}

input:user-invalid {
    border: 1px solid red;
}